<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ><head th:fragment="site-head">
    <meta th:include="this :: head" th:remove="tag"/>
</head><body>
<head th:replace="layout :: site-head">
    <title>Register</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>Register in the Blog</h1>

<form method="post" th:object="${registrationForm}">
    <div><label for="email">Email:</label></div>
    <input id="email" type="text" name="email" th:value="*{email}" />

    <div><label for="username" th:value="*{username}">Username:</label></div>
    <input id="username" type="text" name="username" th:value="*{username}" />
    <span class="formError" th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Invalid username</span>

    <div><label for="password" th:value="*{username}">Password:</label></div>
    <input id="password" type="password" name="password" th:value="*{password}" />

    <div><input type="submit" value="Register"/>
        <a href="register.html" th:href="@{/users/register}">Register</a></div>
</form>

<footer th:replace="layout :: site-footer" />

</body>

</body>
</html>