<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Write a new post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" th:href="@{style.css}" />
</head>
<body class="text-center">
<div layout:fragment="content">

    <form class="form" th:action="@{/create}" method="post">
        <button class="button" type="submit" id="submitButton" th:value="Save"></button>
        <label for="title" class="form-title">Title</label>
        <input type="text" id="title" name="title"/>
        <label for="body" class="form-body">Body</label>
        <input type="text"  id="body" name="body"/>

        <!--<label for="inputUsername" class="sr-only">Username</label>-->
        <!--<input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required="" />-->
    </form>

</div>
</body>
</html>